html{
    --first-color:#e9e4f0;
    --second-color:#fc67fa;
    --thrird-color:#f4c4f3;
    --fourth-color:rgb(167, 28, 169);
    --five-color:gold;
}
body{
    background: var(--first-color);
}
/* header */
.navbar{
    padding: 0;
}
.navbar .container-fluid{
    background: linear-gradient(#fc67fa, #e9e4f0);
}
/* taille du logo */
#logo img{
    width: 200px;
    height: 200px;
}
/* section */
/* pour résoudre le probleme de la barre scroll horizontale */
.row{
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
}
#maps{
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
}

p{
    color: var(--fourth-color);
    font-family: 'Lobster', cursive;
}
#bouton{
    display: flex;
    justify-content: center;
}
button{
    margin-top: 10px;
}
/* pour changer la taille de la maps */
#maps iframe{
    width: 100%;
    border-radius: 20px;
}
label, h4{
    color: var(--fourth-color);
    font-family: 'Lobster', cursive;
}
#horaires{
    margin-left: 0;
    margin-right: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
/* footer */
footer{
    background: linear-gradient(#e9e4f0,#fc67fa);
}
#mentions{
    display: flex;
    justify-content: center;
}
#conditions{
    display: flex;
    justify-content: center;
}
footer h4{
    display: flex;
    justify-content: center;
    font-family: 'Lobster', cursive;
    color: var(--fourth-color);
    padding-top: 10px;
}
a svg{
    height: 50px;
    width: 50px;
    color: var(--fourth-color);
    /* pour placer un bouton "vers le haut" */
    position: right;
    position: bottom;
    position: fixed;
    right: 20px;
    bottom: 20px;
}
/* les media queries */
@media(max-width:768px){

}
@media(max-width:576px){
    
    iframe{
        width: 100%;
    }
    footer #horaires{
        margin-left: 0;
        margin-right: 0;
    }
    /* pour résoudre le probleme de la barre scroll horizontale */
    .row{
        margin-left: 0;
        margin-right: 0;
    }
    #maps{
        display: flex;
        justify-content: center;
    }
    #ad-contact-form{
        margin-top: 50px;
    }
    button{
        margin-top: 20px;
        margin-left: 15px;
    }
    h4{
        display: flex;
        justify-content: center;
    }
    button{
        margin-top: 10px;
    }
}