html{
    --background-header:rgb(95, 86, 86);
    --background-body: floralwhite;
    --second-color:black;
    --third-color:gold;
}
body{
   /* background: var(--background-body); */
}
p, h1, h2, h3, h4, h5, h6, label,li, #emailHelp{
    color: var(--second-color);
    font-family: 'Cinzel Decorative', cursive;
}
#titre-site h1{
    margin-top: 20px;
}
#navbarNav{
    display: flex;
    justify-content: center;
}
.carousel h2,.carousel h3, .carousel p{
    text-shadow: 5px 3px 6px rgb(98, 100, 100);
    color: var(--background-body);
}
/* header */
header{
    background-color:var(--background-body);
    width: 100%;
}
.navbar{
    padding: 0;
}
.navbar .container-fluid{
}
/* taille du logo */
#logo img{
    width: 200px;
    height: 200px;
}
/* section */
#slogan{
    text-align: center;
}
#titre-site{
    margin-bottom: 40px;
    background: url(./images/fond\ scintillant.jpg);
}
#titre-montres{
    margin-top: 20px;
}
#carouselExampleCaptions {
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.carousel-item img {
    width: 100%;
    height: auto;
}
.carousel-inner img{
    border-radius: 10px;
}
#desc-carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#desc-cristaux, #modal-métaux{
    display: flex;
    justify-content: center;
}
#modalmétaux,#modalcristaux{
    right: 0;
}
h1,h2,h3{
    display: flex;
    justify-content: center;
}
#music{
    display: flex;
    justify-content: center;
}
#music iframe{
    border-radius: 10px;
}
#produits{
    margin-top: 20px;
    background-color: var(--background-body);
}
#carousel-montres{
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--background-body);
}
#produits img, #matériaux img, #nouveaux img, #promotions img,#cadeaux img{
    height: auto;
    width: 100%;
    border-radius: 10px;
}
#titre-luna{
    /* background:url(./images/fond\ scintillant.jpg); */
}
#titre-luna,.titresh2 h2,#titre-nouveaux h2,#titre-promo h2,#titre-cadeau h2{
    display: flex;
    justify-content: center;
}
#nouveau-desc, #promo-desc,#cadeau-desc, #desc-carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#nouveau-desc{
    flex-direction: column;
}
#staticBackdrop,#modal2{
    right: 0;
}
#staticBackdropnouveaux,#staticBackdropsoldes,#staticBackdropcadeaux{
    right: 0;
}
#titre-matériaux{
    margin-top: 50px;
}
#titre-nouveaux{
    margin-top: 50px;
}
#titre-promo{
    margin-top: 50px;
}
#titre-cadeau{
    margin-top: 50px;
}
#desc-métaux{
    display: flex;
    justify-content: center;
}
#produits, #matériaux, #nouveaux, #promotions{
    background-color: var(--background-body);
    padding-top: 20px;
}
#desc-métaux h3,#desc-cristaux h3, #produits h3{
    display : flex;
    justify-content : center;
}
/* pour résoudre le probleme de la barre scroll horizontale */
.row{
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
}
#nous-contacter{
    margin-top: 50px;
   background-color: var(--background-body);
}
#boutique{
    text-align: center;
}
#maps{
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titre-adress{
    display: flex;
    justify-content: center;
}
p{
    font-size: large;
}
#bouton{
    display: flex;
    justify-content: center;
}
button{
    margin-top: 10px;
}
/* pour changer la taille de la maps */
#maps iframe{
    width: 100%;
    border-radius: 20px;
}
label, h4{
}
#email-texte textarea{
    width: 100%;
}
#entrer-mail input{
    border: black solid 1px;
}
#horaires{
    margin-left: 0;
    margin-right: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
#partie-news{
    background-color: var(--background-body);
}
#news{
    text-align: center;
}
#newsletter, #titre-newsletter, #desc-newsletter{
    display: flex;
    justify-content: center;
}
#bouton-inscription{
    display: flex;
    justify-content: center;
}
/* footer */
footer{
    background: url(./images/fond\ scintillant.jpg);
    margin-top: 20px;
}
#mentions{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
#conditions{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
#conditions button{
    margin-left: 0;
}
footer h4{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.modal-body li{
}
#titre-paiements h2, #titre-reseaux h2{
    color:var(--second-color);
}
#paiements,#reseaux{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
#paiements svg{
    color: var(--second-color);
    width: 44px;
    height: auto;
}
#reseaux svg{
    height: 44px;
    width: auto;
    color: var(--second-color);
}
#reseaux svg:hover{
    color: var(--or);
}
#copyright{
    display: flex;
    justify-content: center;
}
#boite-credit{
    margin-right: 20px;
}
#boite-facebook{
    margin-right: 20px;
}
#copyright p{
    color: var(--second-color);
}
a .bi-arrow-up-circle-fill{
    height: 50px;
    width: 50px;
    color: var(--second-color);
    /* pour placer un bouton "back to top" */
    position: right;
    position: bottom;
    position: fixed;
    right: 5px;
    bottom: 20px;
}
a .bi-arrow-up-circle-fill:hover{
    color: var(--blanc);
}
.modal-dialog{
    max-width: 50%;
}
.modal-content{
    background-color: var(--background-body);
}
.modal-content p, .modal-content li{
    color: var(--second-color);
}
footer .modal-dialog{
    max-width: 100%;
}
#colliers, #bracelets, #bagues, #oreilles{
    overflow: hidden;
    border-radius: 10px;
}
.zoom {
    transition: all 0.2s;
}
.zoom:hover {
    transform:scale(1.1);
}

/* les media queries */

@media(max-width:576px){
    .row{
        margin: 0;
        padding: 0;
    }
    /* .navbar .container-fluid{
        display: flex;
        justify-content: center;
    } */
    #logo img{
        display: flex;
        justify-content: center;
    }
    h1{
        display: flex;
        justify-content: center;
    }
    #produits img, #matériaux img{
        height: auto;
        width: 100%;
        border-radius: 10px;
    }
    #coliers{
        display: flex;
        order: 1;
    }
    #desc-collier{
        display: flex;
        order: 2;
    }
    #bracelets{
        display: flex;
        order: 3;
    }
    #desc-bracelet{
        display: flex;
        order: 4;
    }
    #bagues{
        display: flex;
        order: 5;
    }
    #desc-bague{
        display: flex;
        order: 6;
    }
    #oreilles{
        display: flex;
        order: 7;
    }
    #desc-oreilles{
        display: flex;
        order: 8;
    }
    #métaux{
        display: flex;
        order: 1;
    }
    #modal-métaux{
        display: flex;
        order: 2;
        margin-bottom: 20px;
    }
    #cristaux{
        display: flex;
        order: 3;
    }

    #desc-cristaux{
        display: flex;
        order: 4;
    }
    #desc-métaux,#desc-cristaux,#desc-collier,#desc-bracelet,#desc-bague,#desc-oreilles{
        display: flex;
        justify-content: center;
    }
    #promo-img{
        display: flex;
        order: 1;
    }
    #promo-desc{
        display: flex;
        order: 2;
    }
    p{
        display: flex;
        justify-content: center;
    }
    iframe{
        width: 100%;
    }
    footer #horaires{
        margin-left: 0;
        margin-right: 0;
    }
    /* pour résoudre le probleme de la barre scroll horizontale */
    .row{
        margin-left: 0;
        margin-right: 0;
    }
    #maps{
        display: flex;
        justify-content: center;
    }
    #ad-contact-form{
        margin-top: 50px;
    }
    button{
        margin-top: 20px;
        margin-left: 15px;
    }
    h4{
        display: flex;
        justify-content: center;
    }
    #conditions button{
        margin-left: 5px;
        margin-right: 5px;
    }
    button{
        margin-top: 10px;
    }
    .modal-dialog{
        max-width: 100%;
    }
    footer .modal-dialog{
        max-width: max-content;
    }
    #titre-paiements{
        display: flex;
        justify-content: center;
    }
}
@media(max-width:994px){
    /* .navbar .container-fluid{
        display: flex;
        justify-content: center;
    } */
}