html{
    --first-color:#e9e4f0;
    --fourth-color:rgb(167, 28, 169);
    --five-color:gold;
}
body{
    background: var(--first-color);
}
/* header */
.navbar{
    padding: 0;
}
.navbar .container-fluid{
    background: linear-gradient(#7ce1f5, #e9e4f0);
}
/* taille du logo */
#logo img{
    width: 200px;
    height: 200px;
}
/* section */
#titre-site{
    margin-bottom: 40px;
}
#titre-luna img{
    width: 400px;
    height: auto;
}
#carouselExampleCaptions {
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.carousel-item img {
    width: 100%;
    height: auto;
}
#desc-carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1,h2,h3{
    font-family: 'Sansita Swashed', cursive;
    display: flex;
    justify-content: center;
}
#music{
    display: flex;
    justify-content: center;
}
#music iframe{
    border-radius: 10px;
}
#produits img, #matériaux img, #nouveaux img, #promotions img,#cadeaux img{
    height: auto;
    width: 100%;
    border-radius: 10px;
}
#titre-luna,.titresh2 h2,#titre-nouveaux h2,#titre-promo h2,#titre-cadeau h2{
    font-family: 'Sansita Swashed', cursive;
    display: flex;
    justify-content: center;
}
#nouveau-desc, #promo-desc,#cadeau-desc{
    display: flex;
    justify-content: center;
    align-items: center;
}
#desc-métaux h3,#desc-cristaux h3, #produits h3{
    font-family : 'Sansita Swashed', cursive;
    display : flex;
    justify-content : center;
}
/* pour résoudre le probleme de la barre scroll horizontale */
.row{
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
}
#maps{
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
}
p{
    font-family: 'Sansita Swashed', cursive;
    font-size: large;
}
#bouton{
    display: flex;
    justify-content: center;
}
button{
    margin-top: 10px;
}
/* pour changer la taille de la maps */
#maps iframe{
    width: 100%;
    border-radius: 20px;
}
label, h4{
    font-family: 'Sansita Swashed', cursive;
}
#horaires{
    margin-left: 0;
    margin-right: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
/* footer */
footer{
    background: linear-gradient(#e9e4f0,#7ce1f5);
}
#mentions{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
#conditions{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
footer h4{
    display: flex;
    justify-content: center;
    font-family: 'Sansita Swashed', cursive;
    padding-top: 10px;
}
.modal-body li{
    font-family: 'Sansita Swashed', cursive;
}
a svg{
    height: 50px;
    width: 50px;
    color: var(--fourth-color);
    /* pour placer un bouton "vers le haut" */
    position: right;
    position: bottom;
    position: fixed;
    right: 5px;
    bottom: 20px;
}
/* les media queries */
@media(max-width:768px){

}
@media(max-width:576px){
    #logo img{
        display: flex;
        justify-content: center;
    }
    h1{
        display: flex;
        justify-content: center;
    }
    #produits img, #matériaux img{
        height: auto;
        width: 100%;
        border-radius: 10px;
    }
    #coliers{
        display: flex;
        order: 1;
    }
    #desc-collier{
        display: flex;
        order: 2;
    }
    #bracelets{
        display: flex;
        order: 3;
    }
    #desc-bracelet{
        display: flex;
        order: 4;
    }
    #bagues{
        display: flex;
        order: 5;
    }
    #desc-bague{
        display: flex;
        order: 6;
    }
    #oreilles{
        display: flex;
        order: 7;
    }
    #desc-oreilles{
        display: flex;
        order: 8;
    }
    #métaux{
        display: flex;
        order: 1;
    }
    #desc-métaux{
        display: flex;
        order: 2;
    }
    #cristaux{
        display: flex;
        order: 3;
    }

    #desc-cristaux{
        display: flex;
        order: 4;
    }
    #desc-métaux,#desc-cristaux,#desc-collier,#desc-bracelet,#desc-bague,#desc-oreilles{
        display: flex;
        justify-content: center;
    }
    #promo-img{
        display: flex;
        order: 1;
    }
    #promo-desc{
        display: flex;
        order: 2;
    }
    p{
        display: flex;
        justify-content: center;
    }
    iframe{
        width: 100%;
    }
    footer #horaires{
        margin-left: 0;
        margin-right: 0;
    }
    /* pour résoudre le probleme de la barre scroll horizontale */
    .row{
        margin-left: 0;
        margin-right: 0;
    }
    #maps{
        display: flex;
        justify-content: center;
    }
    #ad-contact-form{
        margin-top: 50px;
    }
    button{
        margin-top: 20px;
        margin-left: 15px;
    }
    h4{
        display: flex;
        justify-content: center;
    }
    button{
        margin-top: 10px;
    }
}