html{
    --first-color:#e9e4f0;
}
body{
    background: var(--first-color);
}
#logo img{
    width: 100px;
    height: auto;
}
#maps iframe{
    width: 100%;
}
footer #horaires{
    margin-left: 0;
    margin-right: 0;
}
@media(max-width:576px){
    iframe{
        width: 100%;
        height: 411px;
    }
    footer #horaires{
        margin-left: 0;
        margin-right: 0;
    }
}