html{
    --first-color:#e9e4f0;
    --second-color:rgb(167, 28, 169);
    --third-color:gold;
}
body{
    background: var(--first-color);
}
/* header */
.navbar{
    padding: 0;
}
.navbar .container-fluid{
    background-color: var(--second-color);
}
/* taille du logo */
#logo img{
    width: 150px;
    height: auto;
}
/* section */
/* pour résoudre le probleme de la barre scroll horizontale */
.row{
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
}
#maps{
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
}

p{
    color: var(--second-color);
    font-family: 'Molle', cursive;
}
#bouton{
    display: flex;
    justify-content: center;
}
button{
    margin-top: 10px;
}
/* pour changer la taille de la maps */
#maps iframe{
    width: 100%;
    border-radius: 20px;
}
label, h4{
    color: var(--second-color);
    font-family: 'Molle', cursive;
}
#horaires{
    margin-left: 0;
    margin-right: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
/* footer */
footer{
    background-color: var(--second-color);
}
footer h4{
    display: flex;
    justify-content: center;
    font-family: 'Lily Script One', cursive;
}
footer h4, footer p{
    color: var(--third-color);
    padding-top: 10px;
}
/* les media queries */
@media(max-width:768px){

}
@media(max-width:576px){
    
    iframe{
        width: 100%;
    }
    footer #horaires{
        margin-left: 0;
        margin-right: 0;
    }
    /* pour résoudre le probleme de la barre scroll horizontale */
    .row{
        margin-left: 0;
        margin-right: 0;
    }
    #maps{
        display: flex;
        justify-content: center;
    }
    #ad-contact-form{
        margin-top: 50px;
    }
    button{
        margin-top: 20px;
        margin-left: 15px;
    }
    h4{
        display: flex;
        justify-content: center;
    }
    button{
        margin-top: 10px;
    }
}